body{
  background-color: #A7D9A2;
}

/*Estilo landingPage*/

#landingPage{
  display: block;
}

#logoSiembramigos{
  background-color: #F2B84B;
  text-align: center;
  font-family: roboto;
  display: block;
}

header{
  padding: 20px;
}

p{
  color: #0D5A3A;
}

h4{
  color: #132936;
}

#paragraph{
  text-align:center;
  padding: 10%;
}

#boton{
  text-align: center;
}

#btn-entrar {
  margin-bottom: 5%;
  background-color: #F2B84B;
  color: red;
  font-weight: bold;
  border: none;
  padding: 15px;
}

/*Estilo página LogIn*/
#loggedOut {
  display: none;
}

h1, h2, h4 {
  text-align: center;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

#logo {
  background-color: #59A686;
}

#loggedOut {
  margin-top: 4em;
}

.btn {
  border-radius: 50%;
  border-color: transparent;
  border-width: 0px;
  padding: 0px;
  display: inline;
}

.btnBlue {
  background: #00BCD4;
  border-radius: 2px;
  color: beige;
}

.btnBlueEnter {
  background: #00BCD4;
  border-radius: 2px;
  margin-top: 1em;
  margin-bottom: 2em;
  color: beige;
}

#btnLoginWith {
  text-align: center;
  margin-left: 0px;
}

#containerBtn {
  text-align: center;
}
  
.input_container {
  margin-bottom: 0;
}

#div_btn {
  width: 30%;
  margin: auto;
}

#register_container {
  margin-top: 2em;
  margin-bottom: 1em;
}
 
.btn_container {
  margin-top: 1em;
}

/*Estilo página registar*/ 

#registerPage {
  display: none;
}

header{
  background: #59A686;
  height: 76px;
}

body{
  background-color: #A7D9A2;
}
#register_section{
  display: block;
  padding: 0%;
  
}
.col-12{
  background-color: #A7D9A2;
}
#form_section{
  margin: auto;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
}

#title{
  font-size: large;
}

.nombre_input{
  text-align: left;
  margin-bottom: 0%;
  margin-top: 3%;
  font-size: small;
  color: rgba(0, 0, 0, 0.54);
}

.input_place{
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 3px;
  border-width: 0px;
  margin-top: 0%;
}

#validation_div{
  text-align: center;
  padding: 0%;
 
}

.error{
  color: red;
  font-size: x-small;
}

#rememeber_check {
  display: inline; 
  margin-top: auto;
  margin-left: 5%;
  margin-bottom: auto;
}

#terms_check{
  display: inline;
  margin-top: auto;
  margin-left: 5%;
  margin-bottom: auto;
}
#terms_text{
  padding-left: 2%;
  padding-top: 6%;
}
#remember_text{
  padding-left: 2%;
}

.check_text{
  display: inline;
  margin-top: auto;
  margin-bottom: auto;
}

#create_acount_button{
  border-width: 0px;
  background: #00BCD4;
  border-radius: 2px;
  color: #FFFFFF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24);
  width: 96px;
  height: 36px;
  font-size: smaller;
  text-align: center;
  margin-top: 9%;
}

/*Estilo navBar*/
#navBar {
  display: none;
  background-color: #F2B84B;
}

/*Estilo página Muro (homePage)*/ 
#loggedHome {
  display: none; 
}

.images-icon {
  margin: 0%;
}

#user-post-container {
border-radius: 1em; 
}

#postArea {
  border-radius: 1em;  
}

i {
  color:  #00BCD4;
}

#post_container {
  background-color: #FFFFFF;
}
.inputuser {
  display: inline;
}

#btn-images {
  background-color: #FFFFFF;
}
.btn-img, select {
  background-color: #FFFFFF;
  margin: 0%;
}

/* Estilo Perfil

#loggedProfile{
  display: none;
}*/

.contactData {
  margin: 10px;
}

img {
  z-index: 0;
}

/* Estilo Chat*/

#loggedChat {
  display: none;
}
